<div id="footer">
 <div class="container">
   
   <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
   
   <div class="pull-right">
      <%= link_to "Español", params.merge({:locale => :es}) %>
       | 
      <%= link_to "English", params.merge({:locale => :en}) %>
   </div>
   
 </div><!-- .container -->
</div><!-- #footer -->