<div id="footer">
 <div class="container">

   <!--Pappyrus-->
   <div class="copy">
     <div class="pull-left">Pappyrus soluciones web &copy; 2013</div>
     <div class="pull-right">Creado con <span class="coffee"></span> y <span class="heart"></span> en Madrid</div>
   </div><!-- .copy -->

   <div class="pull-left">
      <%= link_to "Español", params.merge({:locale => :es}) %>
       |
      <%= link_to "English", params.merge({:locale => :en}) %>
   </div>
   
 </div><!-- .container -->
</div><!-- #footer -->