/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/



@import "twitter/bootstrap";
@import "twitter/bootstrap/responsive";
@import "flags.css";

/* Bg color variables */
@bg-main: #F3EDDD;
@bg-navbar: #666;
@bg-footer: #222;

/* Text Color variables */
@color-main: #444;
@color-light_text: #666;
@color-navbar: #f5f5f5;
@color-footer: #eee;

/* Sizing variables */
@navbar-height: 70px;
@footer-height: 80px;


* {
  .box-sizing(border-box);
/*  position:relative;*/
/*  .transition(all 0.2s ease);*/
  background-repeat: no-repeat;
  vertical-align: middle;
}


body {
  padding-top: 60px;
  background:@bg-main url(bg.png) repeat!important;
  color: @color-main!important;
  font-family: "Myriad Pro", "Helvetica Neue", Arial, sans-serif!important;
}

a:hover, a:active {
  background:transparent!important;
}

.navbar {
  color: @color-navbar;
  margin-bottom:70px;
  
  .navbar-inner {
    height: @navbar-height;
    padding: 16px 0;
    background: @bg-navbar url(bg_nav.png) repeat-x;
    .border-radius(0px);
    border:none;
    position:relative;
    
    .container {
      padding:0 30px;
    }
    
    .brand {
      position:absolute;
      display:block;
      top:-45px;
      left:50px;
      .square(162px);
      background: url(sprite.png) no-repeat!important;
      text-indent:-9999px;
    }
    
    .nav {
      left:200px;
      font-family: 'Lobster', cursive;
      font-size:24px;
      letter-spacing: 1px;
      
    }
    
    .nav, .user_menu {
      line-height:40px;
      
      a {
        color:white;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.45);
        padding:0 20px;
        line-height:40px;
        opacity:0.95;
        .transition(all 0.2s ease);
        
      }
      
      .active a, a:hover {
        color:white;
        text-shadow: 3px 3px 1px rgba(0,0,0,0.6);
        background:transparent;
        text-decoration:none;
        opacity:1;
        .box-shadow(none);
      }
      
    }
    
    .user_menu {
      line-height:46px;

      a,span {
        padding:0 6px;
      }

      span {
        color:white;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.45);
        opacity:0.95;
      }

    }
    
  }
  
}

#wrap .container{
  background:white;
  border:1px solid #999;
  .border-radius(14px 14px 0 0);
  padding:30px 20px;
  
  h2 {
    font-weight:normal;
    border-bottom: 1px solid #ccc;
    color:@color-light_text;
    font-size:22px;
    position:relative;
    
    a {
      font-size: 14px;
      line-height: 1;
      position: absolute;
      right: 0;
      bottom: 6px;
      color:@color-light_text;
    }
    
  }
  
}

#home {
  
  h1 {
    text-align:center;
    font-weight:normal;
    margin-bottom:50px;
  }
  
}

.beer_list {
  list-style: none;
  text-align: left;
  
  .beer_wrapper {
    width: 20%;
    min-width: 215px;
    padding: 10px 15px;
    display: inline-block;
    
    .beer {
      display:inline-block;
      width:100%;
      background:white;
      border:1px solid #ddd;
      .border-radius(4px);
      padding:10px 15px;
      .box-shadow(1px 1px 3px rgba(0,0,0,0.2));
      text-align:center;
      position:relative;
      margin-bottom:20px;
    
      &:hover {
        .box-shadow(2px 2px 3px rgba(0,0,0,0.3));
        top:-1px;
        left:-1px
      }
    
      .flag {
        position:absolute;
        top:15px;
        right:15px;
      }
    
      a {
        display:block;
      
        &:hover {
          background:transparent;
        }
      
      }
    
      .name {
        text-align:left;
        font-size:16px;
        color:@color-main;
      
        &:hover {
          color:@color-main;
          text-decoration:underline;
        }
      
      }
    
      .brewery {
        text-align:left;
        color: lighten(@color-main, 30%)
      }
    
      img {
        margin:10px auto;
      }
    
    }
    
  }
  
}

#footer {
  background-color: @bg-footer;
  color:@color-footer;
  padding:14px 0;

  a {
    color:white;
    opacity:0.8;
    .transition(all 0.2s ease);

    &:hover {
      color:white;
      opacity:1;
      text-decoration:none;
    }
    
  }

  .footer-top, .footer-bottom {
    margin-bottom:14px;
  }

  .copyright {
    font-size:20px;
  }

  ul {
    list-style:none;
    margin-left:0;
    
    li {
      display:inline-block;
      margin-right:15px;
    }
    
  }

  .copy {
    clear: both;
    overflow: hidden;
    padding-bottom: 10px;

    span {
      display: inline-block;
      width: 16px;
      height: 18px;
      background: url('pappyrus_copy.png') no-repeat 0 0;
      position: relative;
      margin:0 3px;
      opacity:0.9;

      &.heart {
        background-position: -20px 0;
      }

      &.logo_pappyrus {
        background-position: -40px 0px;
        top:-2px;
        margin-left:10px;
      }
      
    }

  }

}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -@footer-height;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: @footer-height;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 979px) {
  body {
    padding-top:0;
  }
}