/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/



@import "twitter/bootstrap";

/* Bg color variables */
@bg-main: white;
@bg-navbar: #333;
@bg-footer: #f5f5f5;

/* Text Color variables */
@color-main: #444;
@color-navbar: #f5f5f5;
@color-footer: #777;

/* Sizing variables */
@navbar-height: 40px;
@footer-height: 60px;


* {
  .box-sizing(border-box);
  position:relative;
/*  .transition(all 0.2s ease);*/
  background-repeat: no-repeat;
  vertical-align: middle;
}


body {
  padding-top: @navbar-height+20px;
  background:@bg-main;
  color: @color-main;
}
.navbar {
  color: @color-navbar;
  
  .navbar-inner {
    min-height: @navbar-height;
    background: @bg-navbar;
  }
  
}

#footer {
  background-color: @bg-footer;

  .copy {
    clear: both;
    overflow: hidden;
    color: white;
    color:#333;
    padding-bottom: 10px;

    span {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url('pappyrus_copy_dark.png') no-repeat 0 0;
      position: relative;
      top:5px;

      &.heart {
        background-position: -20px 0;
        margin-left: 2px;
      }

      &.logo_pappyrus {
        background-position: -40px 0px;
        top:3px;
      }
    }
  }
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -@footer-height;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: @footer-height;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
